span.icon2{
 color: seagreen;
}
.circle{
    border: 2px solid seagreen;
    border-radius: 100%;
    position: absolute;
    
    bottom: 10%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    right: 10px;
}
.left{
    left:10px
}